absl-py==0.15.0
astunparse==1.6.3
Brotli==1.0.9
cachetools==4.2.4
certifi==2020.6.20
charset-normalizer==2.0.4
cycler==0.11.0
dataclasses==0.6
dill==0.3.8
dlib==19.21.1
einops==0.8.0
EMD-signal==1.6.0
et-xmlfile==1.1.0
filelock==3.13.1
flatbuffers==1.12
fsspec==2024.6.1
gast==0.3.3
gmpy2==2.1.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
huggingface-hub==0.24.0
idna==3.3
importlib-metadata==4.8.2
Jinja2==3.1.4
joblib==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.1.3
matplotlib==3.3.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mpmath==1.3.0
multiprocess==0.70.16
natsort==7.1.1
networkx==3.1
ninja==1.11.1.1
numpy==1.19.5
oauthlib==3.1.1
opencv-contrib-python-headless==4.5.1.48
opencv-python-headless==4.5.1.48
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==24.1
pandas==1.1.3
pathos==0.3.2
Pillow==8.4.0
pip==24.0
pox==0.3.4
ppft==1.7.6.8
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyemd==1.0.0
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0.1
regex==2024.5.15
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
safetensors==0.4.3
scikit-learn==0.23.2
scipy==1.5.4
setuptools==69.5.1
six==1.15.0
sympy==1.12
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
termcolor==1.1.0
thop==0.1.1.post2209072238
threadpoolctl==3.0.0
timm==1.0.7
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.42.4
triton==2.1.0
typing-extensions==4.3.0
urllib3==1.26.7
Werkzeug==2.0.2
wheel==0.43.0
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
zipp==3.6.0
causal-conv1d>=1.4.0
mamba-ssm